{% load static %}
<article class="resume-wrapper text-center position-relative">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
        <header class="resume-header pt-4 pt-md-0">
            <div class="media flex-column flex-md-row">
                <img class="mr-3 img-thumbnail rounded-0 picture mx-auto" height="220" src="{% static 'assets/images/profile/profile-mamun.png' %}" alt="">
                <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
                    <div class="primary-info">
                        <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">K Md Mamunur Rashid</h1>
                        <div class="title mb-3">Full Stack Web Developer</div>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>mamun@charlicoder.com</a></li>
                            <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>charlicoder@gmail.com</a></li>
                            <li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>+8801753212244</a></li>
                        </ul>
                    </div><!--//primary-info-->
                    <div class="secondary-info ml-md-auto mt-2">
                        <ul class="resume-social list-unstyled">
                            <li class="mb-3"><a href="http://www.linkedin.com/in/mamun1980/"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/mamun1980/</a></li>
                            <li class="mb-3"><a href="http://www.github.com/charlicoder/"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>github.com/charlicoder/</a></li>
                            <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-codepen fa-fw"></i></span>codepen.io/username/</a></li>
                            <li><a href="http://www.charlicoder.com"><span class="fa-container text-center mr-2"><i class="fas fa-globe"></i></span>www.charlicoder.com</a></li>
                        </ul>
                    </div><!--//secondary-info-->

                </div><!--//media-body-->
            </div><!--//media-->
        </header>
        <div class="resume-body p-5">
            <section class="resume-section summary-section mb-5">
                <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
                <div class="resume-section-content">
                    <p class="mb-0">
                        I am Python and JS lover working as a full stack web developer since 2011. It's not only my profession but also my passion to develop web application. I am very hardworking, self learner and passionate about to learn new technologies.

                        I have good experience working with python, django, postgresql, mongodb, expressjs, jquery, angular, reactjs, bootstrap, material design, docker etc.
                    </p>
                </div>
            </section><!--//summary-section-->
            <div class="row">
                <div class="col-lg-9">
                    <section class="resume-section experience-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
                        <div class="resume-section-content">
                            <div class="resume-timeline position-relative">
                                <article class="resume-timeline-item position-relative pb-5">

                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Full Stack Web Developer</h3>
                                            <div class="resume-company-name ml-auto">Freelance Hub</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">2018 - Present</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <p>
                                            I'm currently working as a freelance web developer. Besides I'm developing an web application for Local Government Bangladesh.
                                        </p>

                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Angular</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Python/Django</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">jQuery</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Webpack</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/SASS</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">PostgresSQL</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->

                                </article><!--//resume-timeline-item-->

                                <article class="resume-timeline-item position-relative pb-5">

                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Full Stack Developer</h3>
                                            <div class="resume-company-name ml-auto">Cloud Custom Solutions</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">Jan 2018 - May 2018</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <p>
                                            I developed a web apps to pr product supplier and buyer through an online platform. In that apps user registration and subscription was verified using mobile sms using twilio api. Dev stack used for this app are Django, Djangorestframework, PostgreSQL, Celery, Twilio, Mailchimp
I also worked in a matchmaking site as a team member for the dev team. I worked in the backend for fixing some bugs and also added new features.
                                        </p>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Django</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Twillio</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">PostgreSQL</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Webpack</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Celery</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Mailchimp</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->

                                </article><!--//resume-timeline-item-->

                                <article class="resume-timeline-item position-relative pb-5">

                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Full Stack Engineer</h3>
                                            <div class="resume-company-name ml-auto">Scomagg</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">May 2014 - Sep 2017</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <p>
                                            Scomagg again hired me for a full time full stack developer post. I worked remotely as a freelance full stack developer under Paul's supervision and direction. I developed many web apps for many companies who are client's of Scomagg.

For an electric meter manufacturing company from Canada I developed a row Items stock & supply management system to manage row items, stock, price, supplier contact etc.

I also developed a web application using Django for interfacing digital electric meters in a building to show meter readings, switching state(On/Off), control on/off etc for any meter inside that building also generate billing invoice.
I also developed employee management, invoice management, order management system for a Lift manufacturing company from Canada. I used Django, PostgreSQL, PostGIS, AngularJS for these apps and I was supervised and advised by Paul in development process.
                                        </p>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Django</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">JavaScript</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Angular.js</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">PostgreSQL.js</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">PostGIS</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->

                                </article><!--//resume-timeline-item-->

                                <article class="resume-timeline-item position-relative">

                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Full Stack Engineer</h3>
                                            <div class="resume-company-name ml-auto">Supreme Support Private Ltd.</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">Jan 2014 - Apr 2014</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <p>I joined there as a part time software engineer to develop a web application the the company. The plan was to build an application using Django framework for one of the client of that company from Australia. I fixed many bugs from many django applications mean time.</p>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Django</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">MEAN</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Bootstrap</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">MongoDB</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->

                                </article><!--//resume-timeline-item-->

                                <article class="resume-timeline-item position-relative">

                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Web Developer</h3>
                                            <div class="resume-company-name ml-auto">SureSoft Technology Limited</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">Sep 2013 - Dec 2013</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <p>
                                            I worked as a Django application developer to develop a location based application for US Army(client of Suresoft).
The requirement was to find enlisted Doctors around a location in the time of us army recruitment. I used Django, PostgreSQL and PostGIS for that application.
                                        </p>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Django</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">PostgreSQL</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Javascript</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Bootstrap</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->

                                </article><!--//resume-timeline-item-->

                                <article class="resume-timeline-item position-relative">

                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Software Engineer (Web Developer)</h3>
                                            <div class="resume-company-name ml-auto">NewsCred Inc.</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">Jan 2012 - Mar 2013</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <p>
                                            I started as a QA engineer for newscred to test products. I did some research to automate testing that time. I came up with the solution to use selenium, cucumber, lettuce for testing Django application that time.

I started working as a member of web developer team from january/2012 and helped to develop various products like CMS, control panel etc for NewsCred using Django, PostgreSQL. I worked as a Backend developer using tools like Python, Django & PostgreSQL.
                                        </p>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Django</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">PostgreSQL</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Angular</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Selenium</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Cucumber</span></li>
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Lettuce</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->

                                </article><!--//resume-timeline-item-->

                            </div><!--//resume-timeline-->

                        </div>
                    </section><!--//experience-section-->

                </div>
                <div class="col-lg-3">
                    <section class="resume-section skills-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
                        <div class="resume-section-content">
                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <div class="resume-skill-name">Angular</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">React</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">JavaScript/Jquery</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">HTML/CSS/SASS/LESS</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!--//resume-skill-item-->

                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <div class="resume-skill-name">Python/Django</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">Node.js/Express.js/Nest.js</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>

                                    <li class="mb-2">
                                        <div class="resume-skill-name">WordPress</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!--//resume-skill-item-->

                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold">Data Stores</h4>
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <div class="resume-skill-name">MySQL/MariaDB</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">PostgreSQL</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>

                                    <li class="mb-2">
                                        <div class="resume-skill-name">GraphQL</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">Elasticsearch</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">REDIS</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!--//resume-skill-item-->

                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold">Others</h4>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><span class="badge badge-light">DevOps</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Code Review</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Github</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Docker</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Selenium</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Webpack </span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Apache2</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">NGINX</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">DigitalOcean</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">AWS EC2</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Ubuntu</span></li>

                                </ul>
                            </div><!--//resume-skill-item-->
                        </div><!--resume-section-content-->
                    </section><!--//skills-section-->
                    <section class="resume-section education-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled">
                                <li class="mb-2">
                                    <div class="resume-degree font-weight-bold">MSc in Computer Science</div>
                                    <div class="resume-degree-org">North South University, Bangladesh</div>
                                    <div class="resume-degree-time">2008 - 2013</div>
                                </li>
                                <li>
                                    <div class="resume-degree font-weight-bold">Diploma in Software Engineering</div>
                                    <div class="resume-degree-org">SUST, Bangladesh</div>
                                    <div class="resume-degree-time">2006 - 2007</div>
                                </li>
                                <li>
                                    <div class="resume-degree font-weight-bold">BSc Physics</div>
                                    <div class="resume-degree-org">National University of Bangladesh</div>
                                    <div class="resume-degree-time">1999 - 2004</div>
                                </li>
                            </ul>
                        </div>
                    </section><!--//education-section-->

                    <section class="resume-section language-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled resume-lang-list">
                                <li class="mb-2"><span class="resume-lang-name font-weight-bold">Bangla</span> <small class="text-muted font-weight-normal">(Native)</small></li>
                                <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">English</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
                            </ul>
                        </div>
                    </section><!--//language-section-->
                    <section class="resume-section interests-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interests</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled">
                                <li class="mb-1">Reading</li>
                                <li class="mb-1">Coding</li>
                                <li class="mb-1">Travelling</li>
                            </ul>
                        </div>
                    </section><!--//interests-section-->

                </div>
            </div><!--//row-->
            <section class="resume-section experience-section mb-5">
                <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Recommendations</h2>
                <div class="resume-section-content">
                    <div class="media">
                        <div class="flex-row">
                            <img class="mr-3" src="https://media-exp1.licdn.com/dms/image/C4E03AQHtr9IAbOnxUA/profile-displayphoto-shrink_200_200/0?e=1611187200&v=beta&t=5TatbWdip-xBIDGHlQw23VIcyCWVZmBkSjNkrgy4dpY" alt="">
                            <h5 class="mt-0 mr-auto">Iraj Islam</h5>
                        </div>
                        <div class="media-body">

                            <blockquote class="blockquote">
                                <p class="mb-0">Mamun is an intelligent, hard working and driven software engineer. During his time at NewsCred he was both a Software Engineer and a SQA Engineer. He contributed to feature development of various products and also made sure quality was maintained. We are grateful for his time at NewsCred and wish him a bright future as a successful Software Engineer.</p>
                                <footer class="blockquote-footer">Co-founder and CTO of NewsCred.com</footer>

                            </blockquote>

                        </div>
                    </div>
                </div>
            </section>
        </div><!--//resume-body-->


    </div>
</article>
