{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="K Md Mamunur Rashid" />
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">

    <title>CHARLICODER - {% block title %}{% endblock %} | charlicoder.com</title>

    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type='text/css'>

    {% block stylesheets %}{% endblock stylesheets %}
</head>

<body>

    {% block container %}

    {% include 'includes/navigation.html' %}

    {% block content %}{% endblock content %}

    {% endblock container %}

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script type="text/javascript" src="{% static 'assets/js/vendor-all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>

    {% block javascripts %}{% endblock javascripts %}
</body>

</html>
